.container {
    width: 600px;
}

.page-header {
    padding: 30px;
}

.clipbtn {
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

.clipbtn:hover, .clipbtn:focus, .clipbtn:active, .clipbtn.active, .open>.dropdown-toggle.clipbtn {
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

.output-group {
    position: relative;
}

.output-group-button {
    position: absolute;
    right: 0;
    top: 0;
}

#secret_text {
    height: 120px;
}

.form-text {
    padding-left: 5px;
}
