.page-header {
    padding-top: 30px;
    padding-bottom: 10px;
}

.vcenter {
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.inputbtn {
    width: 44px;
    height: 40px;
    padding: 8px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    line-height: 0;
}

.inputbtn:hover, .inputbtn:focus, .inputbtn:active, .open>.dropdown-toggle.inputbtn {
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

.inputbtn:active {
    background-color: #ddd;
}

.clippy {
    padding-left: 2px;
}

.btnimg {
    width: 20px;
}

.output-group {
    position: relative;
}

.output-group-button {
    position: absolute;
    right: 1px;
    top: 1px;
}

#secret_text {
    height: 120px;
}

.form-text {
    padding-left: 5px;
}

.form-label {
    font-weight:600;
}

#secret_file {
    margin-top: 8px;
}

.link-group {
    margin-top: 8px;
}
