.container {
    width: 600px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.input-group input#data_link {
    text-align: center;
}

.input-group {
    display: table
}

.input-group input {
    position: relative;
    width: 100%
}

.input-group input:focus {
    z-index: 2
}

.input-group input[type="text"]+.btn {
    margin-left: 0
}

.input-group.inline {
    display: inline-table
}

.input-group input,
.input-group-button {
    display: table-cell
}

.input-group-button {
    width: 1%;
    vertical-align: middle
}

.input-group input:first-child,
.input-group-button:first-child .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.clipbtn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none
}
